<a href="https://colab.research.google.com/github/Loijz/Python/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
skill_list = ['Python', 'SQL', 'Excel']

In [2]:
len(skill_list)

3

In [3]:
count = 0
for skill in skill_list:
  count += 1

count

3

In [4]:
#checking all available functions
import types

print([func for func in dir(__builtins__) if isinstance(getattr(__builtins__, func), types.BuiltinFunctionType)])

['__build_class__', '__import__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'breakpoint', 'callable', 'chr', 'compile', 'delattr', 'dir', 'divmod', 'eval', 'exec', 'format', 'getattr', 'globals', 'hasattr', 'hash', 'hex', 'id', 'isinstance', 'issubclass', 'iter', 'len', 'locals', 'max', 'min', 'next', 'oct', 'open', 'ord', 'pow', 'print', 'repr', 'round', 'setattr', 'sorted', 'sum', 'vars']

Built In Functions

In [5]:
data_salaries = [95000, 100000, 85000, 97000, 140000]

In [6]:
min(data_salaries)

85000

In [7]:
max(data_salaries)

140000

In [8]:
sorted(data_salaries, reverse=True)

[140000, 100000, 97000, 95000, 85000]

In [9]:
sorted(data_salaries)

[85000, 95000, 97000, 100000, 140000]

User-Defined Functions

In [10]:
base_salary = 100000
bonus_rate = 0.1

In [11]:
total_salary = base_salary * (1 + bonus_rate)
total_salary

110000.00000000001

In [12]:
#build my own function

def calculate_salary():
  pass

In [13]:
def calculate_salary():
  base_salary = 100000
  bonus_rate = 0.1

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

In [14]:
calculate_salary()

110000.00000000001

In [15]:
#now we have to globalize the arguments, so we can change it in the parantheses

def calculate_salary(base_salary, bonus_rate):

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

In [16]:
calculate_salary(95000, 0.25)

118750.0

In [17]:
salary1 = 50000
rate1 = 0.05

In [18]:
calculate_salary(salary1, rate1)

52500.0

In [19]:
def calculate_salary(base_salary, bonus_rate=.1):

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

In [20]:
calculate_salary(salary1)

55000.00000000001

In [21]:
calculate_salary(90000)

99000.00000000001

by bonus_rate=.1 this makes the second input optional. but we still can overwrite the optional bonusrate, but typing in an object

In [22]:
calculate_salary(90000, rate1)

94500.0

Basics Lambda Functions

In [23]:
mul_two = lambda x: x*2

In [24]:
mul_two(25)

50

In [25]:
mul_hasefuess = lambda x, y: x*20+y

In [26]:
mul_hasefuess(4, 10)

90

In [27]:
salary_list = [100000, 200000, 1500000, 120000, 80000, 75000]

#Calculate total_salary of base_salary * (1 + bonus_rate)

def salary_calc(base_salary, bonus_payment=.1):

  total_salary = base_salary * (1 + bonus_payment)

  return total_salary

In [28]:
total_salary_list = [salary_calc(gehalt) for gehalt in salary_list]
total_salary_list

[110000.00000000001,
 220000.00000000003,
 1650000.0000000002,
 132000.0,
 88000.0,
 82500.0]

In [29]:
total_lambda_list = [(lambda x: x)(zahlung) for zahlung in salary_list]
total_lambda_list

[100000, 200000, 1500000, 120000, 80000, 75000]

In [30]:
total_lambda_list = [(lambda x: x * 1.1)(zahlung) for zahlung in salary_list]
total_lambda_list

[110000.00000000001,
 220000.00000000003,
 1650000.0000000002,
 132000.0,
 88000.0,
 82500.0]

More complicated example

In [31]:
jobs_data = [
    {'job_title': 'Data Scientist', 'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst', 'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False},
    {'job_title': 'Product Manager', 'job_skills': ['Communication', 'Leadership'], 'remote': False},
    {'job_title': 'Business Analyst', 'job_skills': ['Excel', 'Power BI'], 'remote': False},
    {'job_title': 'DevOps Engineer', 'job_skills': ['Docker', 'Kubernetes'], 'remote': True},
    {'job_title': 'Cloud Engineer', 'job_skills': ['AWS', 'Azure'], 'remote': True},
    {'job_title': 'Frontend Developer', 'job_skills': ['HTML', 'CSS', 'JavaScript'], 'remote': False},
    {'job_title': 'Backend Developer', 'job_skills': ['Node.js', 'Python'], 'remote': True},
    {'job_title': 'Cybersecurity Analyst', 'job_skills': ['Network Security', 'Cryptography'], 'remote': False},
    {'job_title': 'Database Administrator', 'job_skills': ['SQL', 'Database Management'], 'remote': True},
    {'job_title': 'UI/UX Designer', 'job_skills': ['Adobe XD', 'Figma'], 'remote': True},
    {'job_title': 'IT Support Specialist', 'job_skills': ['Troubleshooting', 'Customer Service'], 'remote': False}
]

In [32]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [33]:
list(filter(lambda job: job['remote'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True},
 {'job_title': 'Software Developer',
  'job_skills': ['Java', 'C++'],
  'remote': True},
 {'job_title': 'DevOps Engineer',
  'job_skills': ['Docker', 'Kubernetes'],
  'remote': True},
 {'job_title': 'Cloud Engineer',
  'job_skills': ['AWS', 'Azure'],
  'remote': True},
 {'job_title': 'Backend Developer',
  'job_skills': ['Node.js', 'Python'],
  'remote': True},
 {'job_title': 'Database Administrator',
  'job_skills': ['SQL', 'Database Management'],
  'remote': True},
 {'job_title': 'UI/UX Designer',
  'job_skills': ['Adobe XD', 'Figma'],
  'remote': True}]

In [34]:
list(filter(lambda job: job['remote'] and "Python" in job['job_skills'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True},
 {'job_title': 'Backend Developer',
  'job_skills': ['Node.js', 'Python'],
  'remote': True}]