<a href="https://colab.research.google.com/github/Loijz/Python/blob/main/modules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Modules

Importing modules

In [1]:
import my_module

my_module.skill_list

['Python', 'SQL', 'Excel']

In [2]:
my_module.skill("Python")

'Python is my favourite skill!'

In [3]:
import job_analyzer

In [4]:
job_analyzer.calculate_salary(100000)

110000.00000000001

In [5]:
#if we import calculate_salary like this, we do not have
#to write the module and function everytime

#from job_analyzer import calculate_salary

#calculate_salary(100000)

from job_analyzer import *

calculate_salary(100000)

calculate_bonus(110000, 90000)

0.2222222222222222

In [6]:
help(calculate_salary)

Help on function calculate_salary in module job_analyzer:

calculate_salary(base_salary, bonus_rate=0.1)
    Calculate the total salary based on the base salary and bonusrate
    Args:
      base_salary (float): The base salary.
      bonus_rate (float): The bonus rate. Default is .1

    returns:
      float: The total salary

In [7]:
help(calculate_bonus)

Help on function calculate_bonus in module job_analyzer:

calculate_bonus(total_salary, base_salary)
      Calculate the bonusrate

    Args:
      total_salary (float): The total salary (mandatory)
      base_salary (float): The base salary (mandatory)

    returns:
      float: bonus rate

In [8]:
salary_list = [98000, 101000, 102000, 99000, 97000]

In [9]:
#import statistics

#statistics.mean(salary_list)

In [10]:
from statistics import mean, mode, median

mean(salary_list)

99400

In [11]:
mode(salary_list)

98000

In [12]:
median(salary_list)

99000